@import "tailwindcss";

@font-face {
  font-family: 'Pouf'; 
  src: url('./assets/fonts/PoufV05-Bold.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}


@font-face {
  font-family: 'Aeonik';
  src: url('./assets/fonts/Aeonik-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@theme {
  --font-pouf: "Pouf", ui-sans-serif, system-ui;
  
  --font-aeonik: "Aeonik", ui-sans-serif, system-ui;
}
@layer base {
  .font-aeonik {
    
    font-weight: 400 !important; 
    
    
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    
   
    letter-spacing: -0.01em;
  }
}
@layer utilities {
  @supports selector(::-webkit-scrollbar) {
    .scrollbar-small::-webkit-scrollbar {
      width: 6px;
    }
    .scrollbar-small::-webkit-scrollbar-thumb {
      background-color: #d1d5db; 
      border-radius: 20px;
    }
  }
}